<div {{bind-attr class=":loading-stories loadingVisible"}}>
  <span>Authorizing User</span>
  <div class="table">
    <div class="cell">
      <div class="gmb-loader">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>

<div class='row'>

  <div class='columns medium-8'>
    <h2>Sign in</h2>
    <form {{action 'signin' on='submit'}}>

      <div class="field">
        <label for="user_email">Email</label><br />
        {{input value=email}}
      </div>

      <div class="field">
        <label for="user_password">Password</label><br />
        {{input value=password type='password'}}
      </div>

      <div class="actions">
        <input type="submit" class="tiny button" value="Log in" />
      </div>
    </form>

    {{link-to 'Sign up' 'users.signup'}}
    <br />
    <a href="/api/users/password/new">Forgot your password?</a><br />

    <a href="/api/users/confirmation/new">Didn&#39;t receive confirmation instructions?</a><br />
  </div>
</div>
