<div class='row'>
  <h2 class='category-header'>{{title}}</h2><button name="button" class="subscribe button tiny radius round">{{fa-icon "fa-plus"}} Subscribe</button>
</div>

{{#each stories}}

  <div class='article'>
    <h2>{{title}}</h2>
    <p>{{{body}}}</p>
    <small>published {{date-and-time published_at}}</small>
  </div>
  <br>

{{/each}}
