<div class='row'>
  <div {{bind-attr class=":loading-stories loadingVisible"}}>
    <span>Fetching New Stories</span>
    <div class="table">
      <div class="cell">
        <div class="gmb-loader">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>

  <h2 class='category-header'>{{title}}</h2>
  {{#if controllers.session.currentUser.authenticated}}
    <a href="#" class='refresh-button' {{action 'updateStories' id}}>{{fa-icon "refresh"}}
      <span {{bind-attr class=":updated-text updatedVisible"}}> &nbsp; Updated! </span>
    </a>
    {{#if subscribed}}
      <a href="#" class="unsubscribe" {{action 'unsubscribe' id}}>Unsubscribe</a>
    {{else}}
      <a href="#" class="subscribe" {{action 'subscribe' id}}>Subscribe</a>
    {{/if}}
  {{/if}}

</div>

{{#each story in topStories}}
  <div class='article'>
    {{#if story.editable}}
      {{#if story.favorited}}
        <a href="#" {{action 'unfavorite' story.id target="controller.controllers.stories/favorites"}}>{{fa-icon "star"}}</a>
      {{else}}
        <a href="#" {{action 'favorite' story.id target="controller.controllers.stories/favorites"}}>{{fa-icon "star-o"}}</a>
      {{/if}}
    {{/if}}

    {{#if story.marked}}
      <span class='story-read' {{action 'unmarkViewed' story.id}}>
        {{fa-icon "fa-check-circle-o"}}
        <small class='story-read-text'>mark as unread</small>
      </span>
    {{else}}
      {{#if story.viewed}}
        <span class='story-read' {{action 'unmarkViewed' story.id}}>
        {{fa-icon "fa-check-circle-o"}}
        <small class='story-read-text'>mark as unread</small>
        </span>
      {{/if}}
    {{/if}}


    <h2>
      {{story.title}}
      <a target="_blank" {{bind-attr href="story.url"}} class='external-link'> {{fa-icon "fa-external-link"}} <span>visit article link</span></a>
    </h2>
    {{{story.body}}}
    <br>
    <small>published {{date-and-time story.published_at}}</small>
  </div>
    {{#if story.editable}}
     {{#if story.viewed}}
      {{else}}
        {{#waypoint on-down="markViewed" offset='-25' triggerOnce=true id=story.id hashtag_id=hashtag.id}}
        {{/waypoint}}
      {{/if}}
    {{/if}}
  <br>
{{/each}}

{{#if showAllStories}}
  {{#each allStories}}

    <div class='article'>
      {{#if editable}}
        {{#if favorited}}
          <a href="#" {{action 'unfavorite' id target="controller.controllers.stories/favorites"}}>{{fa-icon "star"}}</a>
        {{else}}
          <a href="#" {{action 'favorite' id target="controller.controllers.stories/favorites"}}>{{fa-icon "star-o"}}</a>
        {{/if}}
      {{/if}}


      {{#if marked}}
        <span class='story-read' {{action 'unmarkViewed' id}}>
          {{fa-icon "fa-check-circle-o"}}
          <small class='story-read-text'>mark as unread</small>
        </span>
      {{else}}
        {{#if viewed}}
          <span class='story-read' {{action 'unmarkViewed' id}}>
            {{fa-icon "fa-check-circle-o"}}
            <small class='story-read-text'>mark as unread</small>
          </span>
        {{/if}}
      {{/if}}

      <h2>
        {{title}}
        <a target="_blank" {{bind-attr href="url"}} class='external-link'> {{fa-icon "fa-external-link"}} <span>visit article link</span></a>
      </h2>
      {{{body}}}
      {{#if long_article}}
        {{#link-to 'stories.show' this.story class='hashtag-subtitle'}}Read Full Story{{/link-to}}
      {{/if}}
      <br>
      <small>published {{date-and-time published_at}}</small>



      {{#if marked}}
        <span class='story-read' {{action 'unmarkViewed' id}}>
          {{fa-icon "fa-check-circle-o"}}
          <small class='story-read-text'>mark as unread</small>
        </span>
      {{else}}
        {{#if viewed}}
          <span class='story-read' {{action 'unmarkViewed' id}}>
            {{fa-icon "fa-check-circle-o"}}
            <small class='story-read-text'>mark as unread</small>
          </span>
        {{/if}}
      {{/if}}


      {{#if editable}}
        {{#if viewed}}
        {{else}}
          {{#waypoint on-down="markViewed" offset='-25' triggerOnce=true id=id hashtag_id=hashtag.id}}
          {{/waypoint}}
        {{/if}}
      {{/if}}

    </div>
    <br>
  {{/each}}
{{/if}}

{{#if showMoreButton}}
  <div class="overflow">
    <a href="#" {{action 'loadAll'}} class='load-button'>More Stories</a>
  </div>
{{/if}}
{{#if loadingButton}}
  <div class="overflow">
    <a href="#" class='load-button load-button-active'>Loading...</a>
  </div>
{{/if}}
