<div class="row">
    {{#each}}
      <div class='article'>
        {{#if editable}}
          {{#if favorited}}
            <a href="#" {{action 'unfavorite' id}}>{{fa-icon "star"}}</a>
          {{else}}
            <a href="#" {{action 'favorite' id}}>{{fa-icon "star-o"}}</a>
          {{/if}}
        {{/if}}
        <h2>
          {{title}}
          {{#link-to 'hashtags.show' hashtag.id}}<small class='hashtag-subtitle'>{{hashtag.title}}</small>{{/link-to}}
        </h2>
        {{{body}}}
        <small>published {{date-and-time published_at}}</small>
      </div>
      <br>
    {{/each}}
</div>
