<div class="row">
    {{#each}}
      <div class='article'>
        {{#if editable}}
          {{#if favorited}}
            <a href="#" {{action 'unfavorite' id}}>{{fa-icon "star"}}</a>
          {{else}}
            <a href="#" {{action 'favorite' id}}>{{fa-icon "star-o"}}</a>
          {{/if}}
        {{/if}}

        <h2>
          {{title}}
          <a target="_blank" {{bind-attr href="url"}} class='external-link'> {{fa-icon "fa-external-link"}} <span>visit article link</span></a>
          {{#link-to 'hashtags.show' hashtag.title}}<small class='hashtag-subtitle'>[{{hashtag.title}}]</small>{{/link-to}}
        </h2>
        {{{body}}}
        {{#if longArticle}}
          {{#link-to 'stories.show' this class='hashtag-subtitle'}}Read Full Story{{/link-to}}
        {{/if}}
        <br>
        <small>published {{date-and-time published_at}}</small>
      </div>
      <br>
    {{/each}}
</div>
