<div class="row">
    {{#each pagedContent}}
      <div class='article'>
        {{#if editable}}
          {{#if favorited}}
            <a href="#" {{action 'unfavorite' id target="controller.controllers.stories/favorites"}}>{{fa-icon "star"}}</a>
          {{else}}
            <a href="#" {{action 'favorite' id target="controller.controllers.stories/favorites"}}>{{fa-icon "star-o"}}</a>
          {{/if}}
        {{/if}}

        {{#if marked}}
          <span class='story-read' {{action 'unmarkViewed' id hashtag}}>
            {{fa-icon "fa-check-circle-o"}}
            <small class='story-read-text'>mark as unread</small>
          </span>
        {{/if}}

        <h2>
          {{title}}
          <a target="_blank" {{bind-attr href="url"}} class='external-link'> {{fa-icon "fa-external-link"}} <span>visit article link</span></a>
          {{#link-to 'hashtags.show' hashtag.id}}<small class='hashtag-subtitle'>[{{hashtag.title}}]</small>{{/link-to}}
        </h2>
        {{{body}}}
        <small>published {{date-and-time published_at}}</small>

        {{#if editable}}
          {{#waypoint on-down="markViewed" id=id hashtag_id=hashtag.id}}
          {{/waypoint}}
        {{/if}}

      </div>
      <br>
    {{/each}}
  <div class="overflow">
    <a href="#" {{action 'loadNext'}} class='load-button'>More Stories</a>
  </div>
</div>
