<div {{bind-attr class=":loading-stories loadingVisible"}}>
  <span>Generating New Stories</span>
  <div class="table">
    <div class="cell">
      <div class="gmb-loader">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>

{{#if error}}
  <div id='flash-wrapper'>
    <div class='flash-message'>
      <p class='flash-text delete-text'>{{error}}
      <br><br>
      <button class='button tiny' {{action 'dismissError'}}>OK</button>
      </p>
    </div>
  </div>
{{/if}}

<div class="row">
  <div class="columns medium-9">
    <h2>Search categories</h2>
    <form {{action "searchCategories" on="submit"}}>
      <div class="row collapse postfix-radius">
        <div class="small-10 columns">
          {{input value=search placeholder="Category"}}
        </div>
        <div class="small-2 columns">
          <input type="submit" value="go!" class="button postfix" />
        </div>
      </div>
    </form>
      {{#each result in results}}
          <p>
            {{#link-to 'hashtags.show' result.title}}{{result.title}}{{/link-to}}

            {{#if searched}}
              {{#if result.subscribed}}
                <a href="#" class="unsubscribe-small" {{action 'unsubscribe' result.id}}>Unsubscribe</a>
              {{else}}
                <a href="#" class="subscribe-small" {{action 'subscribe' result.id}}>Subscribe</a>
              {{/if}}
            {{/if}}

          </p>
          {{else}}
            <p>Sorry, no results for that search...</p>
      {{/each}}


    {{#if browseAll}}
      <a href="#" {{action 'hideCategories'}} class='toggle-option-off'>
        {{fa-icon "minus"}} &nbsp;
        hide all
      </a>
      <br>
      <div class='categories-list'>
        {{#each categories}}
            <p class='category-collection-text'>
              {{#link-to 'hashtags.show' title}}
                {{title}}
              {{/link-to}}
              {{#if subscribed}}
                <a href="#" class="unsubscribe-small" {{action 'unsubscribe' id}}>Unsubscribe</a>
              {{else}}
                {{#if title}}
                  <a href="#" class="subscribe-small" {{action 'subscribe' id}}>Subscribe</a>
                {{/if}}
              {{/if}}
            </p>
        {{/each}}
      </div>
    {{else}}
      <a href="#" {{action 'fetchCategories'}} class='list-category-on'>
        {{fa-icon "plus"}} &nbsp;
        Browse all
      </a>
    {{/if}}
    <hr>

  <h2>or add your own feed</h2>
  <p>paste in a url and we'll try to find a feed for you:</p>
  <form {{action "addFeed" on="submit"}}>
    <div class="row collapse prefix-radius">
      <div class="small-3 large-2 columns">
        <span class="prefix">http://</span>
      </div>
      <div class="small-9 large-10 columns">
        {{input value=url placeholder="Enter your URL..."}}
      </div>
    </div>
    <div class="row collapse prefix-radius">
      <div class="small-3 large-2 columns">
        <span class="prefix">Category:</span>
      </div>
      <div class="small-9 large-10 columns">
        {{input value=category placeholder="Give this feed a category"}}
      </div>
    </div>
    <input type="submit" value="Add feed" class="submit button small radius right" />
  </form>
  </div>
</div>
