<div class='app-bar'>
	<div class='account-box'>
		{{#if controllers.session.currentUser}}
			<img src="avatar-placeholder.png" alt="" class='avatar'>
			<p>{{controllers.session.currentUser.name}}</p>
			<div class='account-actions'>
				{{fa-icon "fa-sign-in"}} {{fa-icon "fa-sign-in"}} {{fa-icon "fa-sign-in"}} {{fa-icon "fa-camera"}}
			</div>
		{{else}}
			<img src="./images/guest-avatar.png" alt="" class='avatar'>
			<p>Guest </p>&nbsp;
			<small class='login'><a href="#" class='login-text'>{{fa-icon "fa-sign-in"}} Sign-in</a></small>
		{{/if}}
	</div>
	<div class='logo-bar'>
		<h1 class='logo'>Bluebird Feeder</h1>
	</div>
</div>


<div class='topbar-spacer'>{{outlet}}</div>
