{{#if errors}}
	<div id='flash-wrapper'>
		<div class='flash-message'>
			<h3 class='flash-text'>{{errors}}</h3>
		</div>
	</div>
{{/if}}

<div {{bind-attr class=":app-bar accountVisible appBarHide"}}>
	<div {{bind-attr class=":account-box accountVisible accountBoxHide"}} {{action "optionsShow" on="mouseEnter"}}>

		{{#if controllers.session.currentUser.authenticated}}

			<div class='user-account'>
				<img {{bind-attr src="controllers.session.currentUser.avatar"}} alt="avatar" class='avatar'>

				<p>{{controllers.session.currentUser.name}}</p>
			</div>
			<div {{bind-attr class=":account-actions actionsVisible"}}>
				<div class='user-options-wrap' {{action "closeSidePanel"}}>
					{{#link-to 'users.edit' class='user-link'}}
						<img src="/images/edit.png" alt="edit profile" class='user-option-icons'>
						<small class='user-option-text'>&nbsp; edit account</small>
					{{/link-to}}
					<a href="#" class='user-link' {{action 'signOut'}}>
						<img src="/images/sign-out.png" alt="sign out" class='user-option-icons'>
						<small class='user-option-text'>&nbsp; sign out</small>
					</a>
				</div>
				<img src="/images/expand-down.png" alt="user options" class='expand-arrow-user'>
			</div>

		{{else}}

			<div class='user-account'>
				<img src="/images/guest-avatar.png" alt="guest" class='avatar'>
				<p>Guest</p>
			</div>
			<div {{bind-attr class=":account-actions actionsVisible"}}>
				<div class='user-options-wrap' {{action "closeSidePanel"}}>
					{{#link-to 'users.signin' class='user-link'}}
						<img src="/images/sign-in.png" alt="edit profile" class='user-option-icons'>
						<small class='user-option-text'>&nbsp; sign in</small>
					{{/link-to}}
					{{#link-to 'users.signup' class='user-link'}}
						<img src="/images/sign-up.png" alt="sign out" class='user-option-icons'>
						<small class='user-option-text'>&nbsp; sign up</small>
					{{/link-to}}
				</div>
				<img src="/images/expand-down.png" alt="user options" class='expand-arrow-guest'>
			</div>

		{{/if}}

	</div>
	<div class='logo-bar'>
		<div {{bind-attr class=":menu-icon menuIconShow"}} {{action "showSidePanel"}}>
			{{fa-icon "fa-bars" size="2"}}
		</div>
		<h1 class='logo' {{bind-attr class=":logo smallLogo"}}>Bluebird Feeder</h1>
	</div>

</div>

<div class='topbar-spacer'>
	<main>
		<div {{action "closeSidePanel"}}>
		  <div class='side-bar'>

				<a href="#" class='close-side-icon' {{action 'showFullView'}}>{{fa-icon "fa-times-circle"}}</a>
				<br><br>

				{{#if controllers.session.currentUser.authenticated}}
					{{#link-to 'feeds.customize' class='outlined button tiny round'}}
					  {{fa-icon "fa-pencil"}}	customize
					{{/link-to}}
				{{/if}}

				{{outlet 'sidebar'}}

			</div>
	  </div>

	  <section {{bind-attr class=":main-pane slidePanel fullMainPane"}}>
	    <div class="row">

	      {{outlet 'body'}}

	    </div>
	  </section>

	</main>
</div>
